@import '@fortawesome/fontawesome-free/css/all.css';

@use "background";

.stat-icon {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    img {
        width: 1.1em;
        height: 1.1em;
        object-fit: contain;
    }
}